#nextsteps {
   color: blue;
}

.emphasized {
   font-size: 1.8em;
   font-weight: bold;
}

.sub-section {
   font-size: 1.8em;
   font-weight: bold;
   text-align:center; 
   height:500px; 
   line-height:500px;
}

slides > slide:not(.nobackground):before {
  width: 40px;
  height: 40px;
  background-size: 45px 40px;
  /*background-color: blue;*/
}